[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=AdAndCrapBlock
Comment=This tool downloads the AdAway host-files and merge it into the file /etc/hosts
Categories=KDE;Utility;
Exec=AdAndCrapBlock
Terminal=false
Icon=/usr/share/AdAndCrapBlock/icons/aacblock_middle.png
