Source: adandcrapblock-1.0-precise
Section: misc
Priority: extra
Maintainer: Mike Krüger <mikekrueger81@gmail.com>
Build-Depends: debhelper (>= 8.0.0), libqt4-dev, cdbs
Standards-Version: 3.9.2
Homepage: https://github.com/memoryleakx/AdAndCrapBlock

Package: adandcrapblock-1.0-precise
Architecture: any
Depends: gksu
Description: AdAndCrapBlock
 This tool downloads the AdAway host-files and merge it into the file /etc/hosts
